.body {}

#calculator {
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 3px rgb(187, 186, 186);
    display: grid;
    border: 2px solid green;
    width: 220px;
    ;
}

#displayPanel {
    height: 60px;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px rgb(187, 186, 186);
    display: grid;
    grid-template-rows: 2fr 1fr;
    border: 2px solid black;
    background: rgb(194, 172, 172);
}


#keypad {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
}

.functionButton,
.equalButton {
    display: block;
    border: 2px solid black;
    background: grey;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 3px rgb(187, 186, 186);
}

.digitButton {
    display: block;
    border: 2px solid black;
    background: rgb(39, 39, 39);
    color: white;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 3px rgb(187, 186, 186);
}

.button:hover {
    background: rgb(95, 95, 95);
}