body {
    font-family: Arial, Helvetica, sans-serif;  
    background: rgb(80, 74, 170);
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#calculator {
    justify-self: center;
    background: black;
    background-color: rgb(142, 142, 142);
    display: grid;
    grid-column: 2;
    grid-template-columns: repeat(1, 1fr);
}

#result {
    text-align: right;
    font-size: xx-large;
    height: 60px;
    width: 203px;
    background: rgb(41, 41, 41);
    color: rgb(242,255,255);
    vertical-align: middle;
    line-height: 60px;
}

#keypad {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    height: 250px;
    grid-gap: 1px;
}

.button {
    text-align: center;
    border:  black;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.functionButton {
    background: rgb(254,143,0);
}

.clicked{
    background: rgba(254, 144, 0, 0.5);
}

.functionButton:hover {
    background: rgba(254, 144, 0, 0.75);
}
.regularButton {
    background: rgb(214, 214, 214);
}

.regularButton:hover {
    background: rgb(214, 214, 214, 0.75);
}

footer {
    text-align: center;
    padding-top: 100px;
    color: rgb(37, 37, 37);
}